Source: ros-galactic-rclcpp-cascade-lifecycle
Section: misc
Priority: optional
Maintainer: fmrico <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-cmake-gtest, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-cascade-lifecycle-msgs, ros-galactic-lifecycle-msgs, ros-galactic-rclcpp, ros-galactic-rclcpp-lifecycle, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-rclcpp-cascade-lifecycle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-cascade-lifecycle-msgs, ros-galactic-lifecycle-msgs, ros-galactic-rclcpp, ros-galactic-rclcpp-lifecycle, ros-galactic-ros-workspace
Description: Provides a mechanism to make trees of lifecycle nodes to propagate state changes
